@import "tailwindcss";

.stroke-text {
  -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  color: transparent;
}

@keyframes spin-slow {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

.animate-spin-slow {
  position: absolute; 
  animation: spin-slow 15s linear infinite;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

html{
  scroll-behavior: smooth;
}